<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us!</h1>
<div class="container">
    <img src="/static/bdog.png" alt="..." class="img-thumbnail mx-auto d-block" width="200">
</div>
<p>Hello I'm Leah Vann, a senior at Oakland Technical Highschool and this is my senior capstone project. My goal with this project is to raise awareness about fast fashion, and bring more advocacy toward buying better quality clothing. My role is to research about the ethical side of fast fashion.</p>
<br>
<p>my friend is aileen and she doesn't know how to code so she is pretending to be my manager, although she literally wasn't here for a whole month. Aileen is in charge of the environmental aspect of fast fashion.  </p>
<br>
<p>Fast fashion is unethical, not enviromentally friendly, and there are a lot of economical issues surrounding it. Our goal is to bring more awareness about the issues with fast fashion and provide more ways that you can get clothing without having to rely on fast fashion. </p>
{% endblock %}