<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1 class="text-center">About Us!</h1>
<div class="container">
    <img src="/static/group.jpg" alt="..." class="img-thumbnail mx-auto d-block" width="200">
</div>


<div class="container">
    <p class="text-center" style="font-size:24px;">
        
        Hello this is the 'NALI Project' and our Senior Capstone for the Computer Science Academy.
        our project is about fast fashion so we created this website so that you can swap or giveaway clothing that you 
        no longer want so that you can help advocate toward ending fast fashion.
   
    </p>

    <div class="container bg-success text-success">.</div>

    <br>
    <h4 class="text-center">What is Fast Fashion?</h4>
    <br>
    <p style="font-size:18px;">
    Fast fashion is clothing that is made with cheap materials and cheap labor. It's clothing that is made to be cheap, follow the 
    current trends, and is made to meet consumer demand.  It's severely unethical and not 
    environmentally friendly in any way. The industry produces high volumes of clothing, which means that the clothing the consumers
    pay for is made with poor quality. The industry also employs workers from third world countries with low wages, exploiting them 
    and exposing them to dangerous work conditions. The environmental impact on fast fashions consists of its use of non-renewable items, 
    greenhouse gases, and its massive use of water and energy to create clothing. 
    </p>

</div>

<br><br>


<div class="container p-3 mb-2 bg-success text-white">
   <h5 class="text-center" style="font-size: 28px;">Members!</h5> 
</div>


<div class="container">
    <img src="/static/leahrazor.jpg" class="rounded mx-auto d-block" alt="..." width="200">
    <p style="font-size:18px;">
    Hi, I'm Leah Vann, a senior for the Computer Science Academy at Oakland Tech. I chose to do this topic and project because of my
    own personal experiences with fast fashion. I personally buy a lot of clothing but when I learned about what fast fashion was I 
    became more aware of the clothing that I was buying and started becoming more selective with the clothing and brands I buy. After
    doing research I learned about different ways that you can get clothing without buying from fast fashion brands, so that is why we
    created this website. 
    </p>

</div>

{% endblock %}