<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us!</h1>
<div class="container">
    <img src="/static/bdog.png" alt="..." class="img-thumbnail mx-auto d-block" width="200">
</div>

<div class="container">
    <p style="font-size:18px;">
        Hello this is the 'NALI Project' and our Senior Capstone for the Computer Science Academy.
        our project is about fast fashion and we created this website so that you can swap or giveaway clothing that you 
        no longer want to help advocate toward fast fashion. 
    </p>
</div>

<div class="container">
    <p style="font-size:18px;">
    Hi, I'm Leah Vann, a semior for the Computer Science Academy at Oakland Tech. I chose to do this theme and project because of my
    own personal experiences with fast fashion. 
    </p>

</div>

<!--for pictures-->
<div class="container">
<div class="row">
    <div class="col">fwqf</div>
    <div class="col">fwqf</div>
    <div class="col">fwqf</div>
</div>
</div>
{% endblock %}