{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-2">Available Clothing</h1>
    </div>
    <div class="col">
        <br>
        <a href="/blog/new" class="btn btn-outline-dark" role="button">Add new clothing</a>
        
    </div>
</div>

{% if blogs %}
<div class="row border-bottom">
    {% for blog in blogs %}
        <div class="col-4">
            {% if blog.image %}
                <a href="/blog/{{blog.id}}">
                    <img width="200"  class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(blog.image.read())}}">
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}