{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-2">Available Clothing</h1>
    </div>
    <div class="col">
        <br>
        <a href="/blog/new" class="btn btn-outline-dark" role="button">Add New Clothing</a>
        
    </div>
</div>

{% if blogs %}
<div class="container">
<div class="row">
<div class="col">
    {% for blog in blogs %}
            {% if blog.image %}
                <a href="/blog/{{blog.id}}">
                    <img width="200"  class="img-thumbnail" src="data:image;base64,{{base64encode(blog.image.read())}}">
                </a>
            {% endif %}
    {% endfor %}
</div>
</div>
</div>
{% endif %}

{% endblock %}