<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-2">Available Clothing</h1>
    </div>
    <div class="col">
        <br>
        <a href="/blog/new" class="btn btn-outline-dark" role="button">Add New Clothing</a>
        
    </div>
</div>

{% if blogs %}
<div class="container">
<div class="row">
<div class="col">
    {% for blog in blogs %}
            {% if blog.image %}
                <a href="/blog/{{blog.id}}">
                    <img width="200"  class="img-thumbnail" src="data:image;base64,{{base64encode(blog.image.read())}}">
                </a>
            {% endif %}
    {% endfor %}
</div>
</div>
</div>
{% endif %}

{% endblock %}