{% extends "base.html" %}

{% block body %}
        <h1></h1>

        <form method=post  enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <!--curr wokring on-->
            <p>
                {{ form.image.label }} <br>
                {{ form.image() }}
                <!--List the errors for this field-->
                {% for error in form.image.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.subject.label }} <br>
                {{ form.subject(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.content.label }} <br>
                {{ form.content(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.content.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.tag.label }} <br>
                {{ form.tag(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

<div class="container bg-success text-white"><h2 class="text-center">Please fill out the info below.</h2></div>
<div class="row">
    <div class="col">
            <p>
                {{ form.size.label }} <br>
                {{ form.size(size=1) }}
                <!--List the errors for this field-->
                {% for error in form.size.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
    </div>
    <div class="col">
            <p>
                {{ form.color.label }} <br>
                {{ form.color(size=1) }}
                <!--List the errors for this field-->
                {% for error in form.color.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
    </div>
    <div class="col">
        <p>
            {{ form.quality.label }} <br>
            {{ form.quality(size=1) }}
            <!--List the errors for this field-->
            {% for error in form.quality.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </div>
    <div class="col">
         <p>
            {{ form.length.label }} <br>
            {{ form.length(size=1) }}
            <!--List the errors for this field-->
             {% for error in form.length.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
         </p>
    </div>
    <div class="col">
        <p>
           {{ form.style.label }} <br>
           {{ form.style(size=1) }}
           <!--List the errors for this field-->
            {% for error in form.style.errors %}
               <span style="color: red;">[{{ error }}]</span>
           {% endfor %}
        </p>
   </div>
   <div class="col">
    <p>
       {{ form.sale.label }} <br>
       {{ form.sale(size=1) }}
       <!--List the errors for this field-->
        {% for error in form.sale.errors %}
           <span style="color: red;">[{{ error }}]</span>
       {% endfor %}
    </p>
</div>

</div>

            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
