<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        <h1></h1>

        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.color.label }} <br>
                {{ form.color() }}
                <!--List the errors for this field-->
                {% for error in form.color.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.size.label }} <br>
                {{ form.size(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.size.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>




            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
