<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Events</h1>
    </div><br><br><br>
    <div class="col">
        <a href="/event/new" class="btn btn-primary btn-sm mt-5" role="button"> Create New Event </a>
    </div>
</div>

{% if events %}
    {% for event in events %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Event</h3>
                {% endif %}

                
                <a href="/event/{{event.id}}">
                    {{event.day}}
                </a>
                {% if event.image %}
                <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(event.image.read())}}">
              {% endif %}
            </div>
        </div>

    {% endfor %}
{% else %}
    <h1>No Posts</h1>
{% endif %}

{% endblock %}
