<!-- This is a blank template.  You can copy this to make a new template page. -->
<!-- views 1 cloth-->

{% extends 'base.html' %}

{% block body %}

{% if event %}
    {{moment(event.create_date).calendar()}} by {{event.author.fname}} {{event.author.lname}} 
    {% if event.modifydate %}
        modified {{moment(event.modifydate).calendar()}}
    {% endif %}
    <br>
    {% if event.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Event" href="/event/delete/{{event.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit Event" href="/event/edit/{{event.id}}">
            <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}

    <h1 class="display-5">{{event.subject}}</h1>
    <p class="fs-3 text-break">
        {% if event.author.image %}
            <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(event.author.image.read())}}">
        {% endif %}
            <p style="font-size:30px; font-family:'Times New Roman', Times, serif;">When will the clothing swap take place?</p> <span style="font-size: 20px; color:rgb(0, 105, 18)">{{event.day}}</span> <br><br>
            <p style="font-size:30px; font-family:'Times New Roman', Times, serif;">At what time?</p>  <span style="font-size: 20px; color:rgb(0, 105, 18)">{{event.time}}</span><br><br>
            <p style="font-size:30px; font-family:'Times New Roman', Times, serif;">Where?</p><span style="font-size: 20px; color:rgb(0, 105, 18)">{{event.location}}</span><br><br>
            <p style="font-size:30px; font-family:'Times New Roman', Times, serif;">What else do I need to know?</p><span style="font-size: 20px; color:rgb(0, 105, 18)">{{event.description}}</span><br><br>

    </p>
    


    {% if comments %}
    <h1 class="display-5">Comments</h1>
    {% for comment in comments %}
        {% if current_user == comment.author %}
            <a href="/comment/delete/{{comment.id}}"><img width="20" src="/static/delete.png"></a> 
            <a href="/comment/edit/{{comment.id}}"><img width="20" src="/static/edit.png"></a>
        {% endif %}
        {{moment(comment.create_date).calendar()}} {{comment.author.username}} 
        {% if comment.modifydate %}
            modified {{moment(comment.modifydate).calendar()}}
        {% endif %}
        <br>
        <p class="fs-3">
            {{comment.content}}
            
        </p>
        rating: {{comment.rating}} <br>
    {% endfor %}
    {% else %}
        
    {% endif %}
{% else %}
    <h1 class="display-5">No Post</h1>
{% endif %}

{% endblock %}