<head>
    
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    

</head>

{% extends "base.html" %}

{% block body %}
        <h1></h1>

        <form method=post  enctype="multipart/form-data" >
            {{ form.hidden_tag() }}
            <!--curr wokring on-->
            <p>
                {{ form.image.label }} <br>
                {{ form.image() }}
                <!--List the errors for this field-->
                {% for error in form.image.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.day.label }} <br>
                {{ form.day(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.day.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.time.label }} <br>
                {{ form.time(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.time.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.location.label }} <br>
                {{ form.location(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.location.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }} <br>
                {{ form.description(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.description.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
