<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>Home</h1>
<br><br><br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="container">
      <div class="carousel-inner">
       
        <div class="carousel-item active">
          <img src="https://images.unsplash.com/photo-1603782637810-95d06f1d5663?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFzdCUyMGZhc2hpb258ZW58MHx8MHx8&w=1000&q=80"  class="rounded mx-auto d-block" width="501" alt="...">
        </div>

        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1606053929013-311c13f97b5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" class="rounded mx-auto d-block" width="595" alt="...">
        </div>

        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1534639077088-d702bcf685e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2193&q=80" class="rounded mx-auto d-block" width="268" alt="...">
        </div>

      </div>
    </div>
  </div>
  


{% endblock %}